{% extends 'authentication/base_auth.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Set your new password</h4>
                </div>
                {% include 'common/messages.html' %}
            <form action="{% url 'reset_user_password' uidb64 token %}" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <input type="password" name="password1" id="passwordField" placeholder="password" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    <input type="password" name="password2" id="passwordField" placeholder="Confirm password" class="form-control form-control-sm">
                </div>
                <small class="float-right py-3 showPasswordToggle" >SHOW</small>

                
                <input type="submit" value="Update changes" class="btn btn-block btn-secondary btn-submit">

                <div class="container">
                    <span class="text-lead lead">Have an account?</span><a href="{% url 'login' %}">Login</a></span> <br>
                    <span class="text-lead lead">No account?</span><a href="{% url 'register' %}">Create</a></span>
                </div>


            </form>   
        </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
</div>
<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}