{% extends 'base.html' %}

{% block content%}
<div class="container mt-5">
    {% comment %} <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
          <li class="breadcrumb-item"><a href="#">Add expenses</a></li>
          <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
        </ol>
    </nav> {% endcomment %}
    
      <div class="card">
        <div class="card-body">
        <h1>Add comment Here </h1>
        {% if user.is_authenticated %}
        <form action="#" method="post">
         {% include 'common/messages.html' %}
          {% csrf_token %}
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" name ="comment" id="message-text"></textarea>
          </div>

          <div class="form-group">
            <label for="">Date of comment</label>
            <input type="date" name="date" value="{{values.date}}" class="form-control form-control-sm">
          </div>
          <input type="submit" value="Submit" class="btn btn-secondary  btn-secondary-sm">

          </form>
          {% endif %}
        </div>        
    
      </div>
  
</div>

{% endblock content%}